* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcf5c9;
  --dark-color: #333;
  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.head img {
  width: 100%;
}

.logo {
  width: 130px;
}

/* Utility */
.bg-primary {
  background: var(--primary-color);
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
  padding: 3.5rem 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #333;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.visually-hidden {
  clip: rect(0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Container  */
.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-sm {
  max-width: var(--container-narrow);
}

.container-lg {
  max-width: var(--container-wide);
}

/* Header  */
.header {
  margin: 1.5rem auto;
}

.header-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-menu {
  display: flex;
  gap: 1rem;
}

.main-menu a {
  padding: 0.5rem 1rem;
}

.current {
  background: var(--primary-color);
  font-weight: bold;
  /* padding: 0.2rem; */
}

.main-menu a:hover {
  background: var(--primary-color);
}

/* Hero Section  */
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-sm h2 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.4;
}

/* Gallery Section  */
/* .gallery-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
} */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item {
  /* width: calc(33.333% - 20px); */
  border-radius: 10px;
}

.gallery-item:hover {
  opacity: 0.9;
}

.gallery-item img {
  max-width: 100%;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:nth-of-type(2) {
  grid-column: span 2;
}

.gallery-item:nth-of-type(7) {
  grid-column: span 2;
  grid-row: span 2;
}

/* Footer Section  */
.footer {
  border: 1px solid #333;
  margin-top: 2rem;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 2rem;

  text-align: center;
}

.footer-flex img {
  width: 130px;
}

.fab {
  margin: 5px;
}

/* Services Section  */
/* .services {
  background-color: #333;
  color: #fff;
  padding: 3.5rem 1rem;
} */

.services h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.service-flex {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.service-flex h3 {
  margin-bottom: 0.5rem;
}

/* Team Section  */
.team {
  /* background: red; */
  padding: 4rem 2rem;
}

.team h2 {
  text-align: center;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}

.team-item img {
  width: 100%;
  border-radius: 0.5rem;
}

.team-flex {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.team-item {
  width: calc(33.333% - 1rem);
  border-radius: 1rem;
}

/* Contact Section  */
.contact {
  padding: 3rem 0 4rem;
}

.contact h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
}

.contact p {
  margin-bottom: 2rem;
  text-align: center;
}

.form-group {
  padding: 2rem 0;
}

.contact input,
.contact textarea {
  border: none;
  width: 100%;
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
}

.contact textarea {
  height: 200px;
}

/* Media Query  */

@media (max-width: 768px) {
  .header .header-flex,
  .footer .footer-flex,
  .services .service-flex,
  .team .team-flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero {
    height: 300px;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  /* .gallery-item {
    width: calc(50% - 20px);
  } */

  .gallery-grid {
    grid-template-rows: repeat(2, 1fr);
  }

  .gallery-item:nth-of-type(1) {
    grid-column: span 2;
  }

  .gallery-item:nth-of-type(2) {
    grid-column: span 1;
  }

  .gallery-item:nth-of-type(9) {
    grid-column: span 3;
  }
  .service-flex {
    /* gap: 1rem; */
  }
}
